.headline {
  &__title {
    &--h1 {
      text-align: center;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 54px;
      line-height: 80px;
      @include media-from(576) {
        font-size: 64px;
        line-height: 96px;
      }
    }

    &--h2 {
      font-weight: 700;
      font-size: 40px;
      line-height: 48px;
      color: $color-white;

      text-align: center;
    }

    &--h3 {
      font-weight: 700;
      font-size: 36px;
      line-height: 42px;
      text-align: center;
      text-transform: uppercase;
      color: $color-white;
    }

    &--h4 {
      font-size: 24px;
      line-height: 28px;
      text-transform: uppercase;
      color: $color-white;
    }
  }

  &__subtitle {
    &--sm {
      font-weight: 400;
      font-size: 22px;
      line-height: 28px;
      text-align: center;
      text-transform: uppercase;
    }
  }

  &__text {
    font-weight: 400;
    font-family: "PT Sans", sans-serif;

    &--basic {
      font-size: 14px;
      line-height: 21px;
      color: $color-white;
    }
  }

  &--spacing-sm {
    display: inline-block;
    padding: 73px 40px;
    border: 4px solid $color-white;
    margin-bottom: 80px;

    @include media-from(576) {
      padding: 93px 68px;
    }

    &.headline--spacing-sm {
      .headline__title {
        border-bottom: 4px solid $color-white;
      }
    }
    &.headline--spacing-sm {
      .headline__subtitle {
        margin-top: 10px;
      }
    }
  }

  &--spacing-md {
    margin-bottom: 100px;
    text-align: center;

    &.headline--spacing-md {
      .headline__title {
        display: inline-block;
        position: relative;
        &::before {
          content: "";
          display: block;
          width: 120px;
          height: 2px;
          background-color: $color-white;
          position: absolute;
          bottom: -50px;
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }
    &.headline--spacing-md {
      .headline__text {
        max-width: 480px;
        margin: 0 auto;
        margin-top: 100px;
      }
    }
  }

  &--spacing-lg {
    &.headline--spacing-lg {
      .headline__title {
        margin-bottom: 40px;
      }
    }
  }
}
