.watch {
  background-color: $color-black-primary;
  color: $color-white;
  font-family: "Playfair Display", serif;
  max-width: 260px;
  max-height: 405px;
  margin: 0 auto;
  margin-bottom: 50px;

  &__wrap {
    background-color: #191b1c;
    @include media-from(1440) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  &__foto {
    width: 215px;
    height: 214px;
    margin: 55px 23px;
  }

  &__name {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    margin-top: 25px;
    margin-bottom: 10px;
  }

  &__price {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
  }
}
