$color-white: #ffffff;
$color-black-primary: #000000;
$color-black-secondary: #0f0f0f;

$color-red: #ac1216;
$color-grey-primary: rgba(150, 150, 150, 1);
$color-grey-secondary: #d0d0d0;
$color-grey-tertiaty: rgba(255, 255, 255, 0.4);
$color-grey: rgba(56, 77, 112, 1);
